@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap');

:root {
    --cor1--:#C1CAD7;
    --cor2--:#051D48;
    --cor3--:#252525;
    --cor4--:#020C19;
    
    
}

*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
body {
    height: 100%;
    box-sizing: border-box;
    background-color:var(--cor2--) ;
}

.cabecalho {
    display: flex;
    justify-content:center;
    align-items: center;    
    height: 55px;
    background-color:var(--cor4--) ;
    color:var(--cor1--);
    /*position: relative;
    top: 10px;
    right: 20%;*/
    
}


/*.cabecalho img {

   width: 70px;    
   margin-left: 10px;    
   padding-top: 10px;
    
}*/

.container {
    display: flex;
    justify-content: space-evenly;
    
    
}




.container__texto{
    display: flex;
    justify-content: center;    
   
}


.container__texto__area{

    
    border: none;    
    text-transform: lowercase; /*transforma todas as letras em letras minusculas*/    
    color: var(--cor1--);
    background-color: transparent;
    outline: none;
    margin-top: 98px;
    width: 90%;        /*550px*/ 
    font-size:2rem;
    
}

.container__texto__area::placeholder {
    color: var(--cor1--);
}


.container__texto__alerta{
    display: flex;
    position: relative;
    top: 42%;
    left: 2%; 
    align-items: center;
    width: 228px;
    height: 18px;
    
    color: var(--cor1--);
        
     
}

.container__button{
      
    display: flex;
    flex-direction: row ;
    align-items: end;
    justify-content: center;
    height: 370px;/*370px*/
    gap: 3%;/*20px*/
        
}



.button__criptografar {
    background-color:var(--cor1--) ;
    color:var(--cor3--);
    width: 60%;/*280*/
    height: 16%;/*67px*/
    border-radius: 1.5rem;
    border: none;
        
}



.button__descriptografar{
    background-color: var(--cor3--);
    color:var(--cor1--);
    width: 60%;
    height: 16%;
    border-radius: 1.5rem;
    box-shadow: none;
    border: none;
    
}



.background-output {
    width: 400px;
    height: 600px;
    background-color: var(--cor3--);
    margin: 40px;
    border-radius: 32px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--cor1--);
    font-size: 20px;
    text-align: center;
      
    

}

.background-output img {
    width: 270px;
    height: 300px;
}

#output-texto {
    border: none;    
    text-transform: lowercase;   
    color: var(--cor1--);
    background-color: transparent;
    outline: none;
    text-align: center;
    font-size: 2rem;
    

}



.btn-copiar {
    position: relative;
    top: 30%;    
    background-color:var(--cor1--) ;
    color:var(--cor3--);
    width: 200px;
    height: 50px;
    border-radius: 18px;
    border: none;

}




@media (max-width:900px){
    .container {
        flex-direction: column;
    }
    .background-output {
        width: 85%;
        height: 140px;        
        font-size: 1rem;
        
        
    }
    .esconder {
        display: none;
        /*visibility: hidden;*/
        

    }    
    .container__texto__alerta {
        position: relative;
        top: 150px;
        left:2%;
    }
    .container__button{        
        margin: 20px;
    }
        
     .btn-copiar {
        position: relative;
        top:3px;
     }   
    
   

    
    
}